* {
  background-color: black;
}

#game {
    display: block;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.heading {
  text-align: center;
  font: Arial;
  color: red;
  font-size: 24px;
}

.container {
  color: red;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
    color: lightgreen;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}
